.icon-list {
  li {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: -30px;
      width: 20px;
      height: 20px;
      background: transparent url("/assets/svg/smile.svg") no-repeat center
        center;
    }
  }
  li:first-child::before {
    background: transparent url("/assets/svg/email.svg") no-repeat center center;
  }
  li:last-child::before {
    background: transparent url("/assets/svg/whatsapp.svg") no-repeat center
      center;
  }
}
