<h1>Plano de saúde que cabe no seu bolso.</h1>
<ul class="icon-list">
  <li>
    Receba cotações no seu e-mail sem precisar sair de casa e sem falar com
    ninguém pelo telefone.
  </li>
  <li>Compare os melhores preços e benefícios.</li>
  <li>Tire suas dúvidas pelo Whatsapp.</li>
</ul>
<div class="actions">
  <button mat-raised-button color="primary">Enviar</button>
  <button mat-raised-button color="pink">Iniciar cotação</button>
  <button mat-raised-button>Contato</button>
</div>
<div class="insurances">
  <img src="/assets/svg/porto-seguro.svg" />
  <img src="/assets/svg/bradesco.svg" />
  <img src="/assets/svg/amil.svg" />
  <img src="/assets/svg/sul-america.svg" />
  <img src="/assets/svg/notre-dame.svg" />
  <img src="/assets/svg/unimed.svg" />
</div>
