@import "mixins";
@import "variables";

:host {
  min-height: calc(100vh - 40px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  max-width: $tablet-breakpoint-md;

  h1 {
    @include fluid-text(320px, 768px, $main-title-size, 66px);
  }

  .icon-list {
    @include fluid-text(320px, 768px, $font-size-base, 30px);

    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      img {
        @include fluid-size(320px, 768px, 20px, 36px);
        margin-right: 0.625rem;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;

    button[color="pink"] {
      margin-bottom: $gap-xs;
    }
  }

  .insurances {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;

    img {
      justify-self: center;
      width: 80%;
    }
  }

  @media (min-width: $mobile-breakpoint-sm) {
    min-height: calc(100vh - 60px);

    .actions {
      padding: 30px 0;

      button[color="pink"] {
        margin-bottom: $gap-sm;
      }
    }
  }

  @media (min-width: $tablet-breakpoint-sm) {
    .icon-list {
      li {
        img {
          margin-right: 1rem;
        }
      }
    }

    .actions {
      button[color="pink"] {
        margin-bottom: $gap-md;
      }
    }

    .insurances {
      img {
        width: 65%;
      }
    }
  }

  @media (min-width: $tablet-breakpoint-md) {
    min-height: 100%;

    .icon-list {
      font-size: $font-size-md;

      li {
        max-width: $mobile-breakpoint-sm;

        img {
          width: 28px;
          height: 28px;
        }
      }
    }

    .actions {
      button[color="pink"] {
        margin-bottom: $gap-sm;
      }
    }

    .insurances {
      img {
        width: 48%;
      }
    }
  }
}
