<h1>Plano de saúde que cabe no seu bolso.</h1>
<ul class="icon-list">
  <li>
    <img class="porto" src="/assets/svg/email.svg" />
    Receba cotações no seu e-mail sem precisar sair de casa e sem falar com
    ninguém pelo telefone.
  </li>
  <li>
    <img class="porto" src="/assets/svg/smile.svg" />Compare os melhores preços
    e benefícios.
  </li>
  <li>
    <img class="porto" src="/assets/svg/whatsapp.svg" />Tire suas dúvidas pelo
    Whatsapp.
  </li>
</ul>
<div class="actions">
  <button mat-raised-button color="pink">Iniciar cotação</button>
  <button mat-raised-button>Contato</button>
</div>
<div class="insurances">
  <img class="porto" src="/assets/svg/porto-seguro.svg" />
  <img class="bradesco" src="/assets/svg/bradesco.svg" />
  <img class="amil" src="/assets/svg/amil.svg" />
  <img class="sulamerica" src="/assets/svg/sul-america.svg" />
  <img class="notredame" src="/assets/svg/notre-dame.svg" />
  <img class="unimed" src="/assets/svg/unimed.svg" />
</div>
