@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $body-color;
  background-color: $body-bg;
}

body {
  display: flex;
  flex-direction: column;
  transition: padding ease-in-out 0.3s;

  @media (min-width: 1280px) {
    padding: 2rem;
  }
}

strong {
  font-weight: $font-weight-bold;
}

app-root {
  flex: 1;
  flex-direction: column;
  display: flex;
  box-shadow: 6px 4px 10px 1px rgba(51, 51, 51, 0.46);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mat-tooltip {
  font-size: $font-size-xs;
}

h1,
h2,
h3,
h4,
h5 {
  color: $pink;
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  margin: 0;
}

h1 {
  font-size: $main-title-size;
  margin: 0 0 $gap-sm 0;

  @media (min-width: $tablet-breakpoint-sm) {
    margin-bottom: $gap-md;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: $gap-xs;

    &:last-child {
      margin: 0;
    }

    @media (min-width: $tablet-breakpoint-sm) {
      margin-bottom: $gap-md;
    }

    @media (min-width: $tablet-breakpoint-md) {
      margin-bottom: $gap-sm;
    }
  }
}

span {
  font-size: $font-size-xs;
}

.mat-raised-button,
.mat-raised-button[color="primary"] .mat-raised-button[color="pink"] {
  span {
    @include fluid-text(
      $mobile-breakpoint-base,
      $tablet-breakpoint-sm,
      $font-size-sm,
      $font-size-lg
    );

    @media (min-width: $tablet-breakpoint-md) {
      font-size: 18px;
    }
  }

  border: 2px solid $black !important;
  border-radius: 30px !important;
  line-height: normal !important;
  height: auto !important;
  padding: 8px 16px !important;
  background-color: $white;

  @media (min-width: $tablet-breakpoint-sm) {
    padding: 10px 18px !important;
  }
}

.mat-raised-button {
  color: $black;
}

.mat-raised-button[color="pink"] {
  color: $pink;
}

.mat-raised-button[color="primary"] {
  border: none !important;
  background-color: $pink;
  color: $white;
}
